:root {
  --primare-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primare-white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--primare-white-color);
  color: var(--primare-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 00.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  color: var(--title-text-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.features-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--title-text-color);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title .section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: var(--title-text-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.hero__button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: 1px solid transparent;
}

.filtrs__button-portfolio {
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtrs__button-portfolio:hover,
.filtrs__button-portfolio:focus {
  color: var(--primare-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffffff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__close-icon {
    fill: #000000;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
  }
  .site-mobile-menu {
    display: block;
    align-items: center;
  }
  .site-mobile-menu.site-mobile-menu__link-nav:hover, .site-mobile-menu.site-mobile-menu__link-nav:focus {
    color: var(--accent-color);
  }
  .site-mobile-menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-mobile-menu .site-mobile-menu__link {
    display: block;
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-decoration: none;
    padding-top: 48px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-mobile-menu .site-mobile-menu__link:hover, .site-mobile-menu .site-mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .site-mobile-menu .site-mobile-menu__link-nav {
    color: var(--accent-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-decoration: none;
    padding-top: 48px;
    padding-bottom: 35px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-mobile-menu__link-nav {
    position: relative;
    text-decoration: none;
    padding-bottom: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-mobile-menu {
    display: block;
    align-items: center;
    margin-top: auto;
  }
  .auth-mobile-menu {
    display: block;
  }
  .auth-mobile-menu .auth-mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .auth-mobile-menu .auth-mobile-menu__link {
    color: #2196F3;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 34px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
  .auth-mobile-menu-mail .auth-mobile-menu-mail__link {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
  .auth-mobile-menu-mail {
    display: block;
  }
  .auth-mobile-menu-mail .auth-mobile-menu-mail__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-mobile-menu-networks {
    display: flex;
    align-items: center;
    margin-top: 64px;
  }
  .site-mobile-menu-networks__item:not(:last-child) {
    margin-right: 20px;
  }
  .site-mobile-menu-networks .site-mobile-menu-networks__link {
    color: #2196F3;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 18px;
    line-height: 1.22;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .site-nav,
  .auth-nav {
    display: none;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .site-nav__link {
    display: block;
    color: var(--title-text-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .site-nav__link:hover, .site-nav .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link-nav {
    position: relative;
    text-decoration: none;
    padding-bottom: 30px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav {
    display: block;
    margin-left: 96px;
  }
  .auth-nav {
    display: block;
  }
  .auth-nav .auth-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .auth-nav .auth-nav__link:hover,
  .auth-nav .auth-nav__link:focus {
    color: var(--accent-color);
  }
  .auth-nav .auth-nav__link {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__item {
    font-size: 12px;
  }
  .icon-envel {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover .icon-envel,
  .auth-nav__link:focus .icon-envel {
    fill: var(--accent-color);
  }
  .icon-phone {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav__link:hover .icon-phone,
  .auth-nav__link:focus .icon-phone {
    fill: var(--accent-color);
  }
  .icon-phone:hover, .icon-phone:focus {
    fill: var(--accent-color);
  }
  .auth-icon {
    margin-right: 10px;
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav {
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
  }
  .main-nav {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
  }
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
  .auth-nav__item {
    font-size: 14px;
  }
  .auth-nav {
    display: flex;
  }
  .auth-nav .auth-nav__item:not(:last-child) {
    margin-right: 50 px;
  }
  .auth-nav .auth-nav__link:hover,
  .auth-nav .auth-nav__link:focus {
    color: var(--accent-color);
  }
  .auth-nav .auth-nav__item + .auth-nav__item {
    margin-left: 50px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 90px;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--title-text-color);
}

.logo-studio-white {
  color: #ffffff;
}

.site-nav.site-nav__link-nav:hover, .site-nav.site-nav__link-nav:focus {
  color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;
  width: 480p;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/fon-desktop@2x.jpg);
  }
}

.hero-title {
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    width: 696px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.close-modal {
  fill: #000000;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.71;
}

.close-modal:hover, .close-modal:focus {
  fill: var(--accent-color);
}

.modal-close-btn {
  display: flex;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  top: 8px;
  right: 8px;
  position: absolute;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.modal-close-btn:hover .close-modal,
.modal-close-btn:focus .close-modal {
  fill: var(--accent-color);
}

.modal-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  margin-bottom: 30px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 12px 11px 30px;
  outline: none;
}

.modal-input:focus {
  border-color: #2196f3;
}

.modal-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 4px;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  resize: none;
  height: 120px;
}

.modal-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  cursor: pointer;
  transition: background-color #188ce8 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background: #188ce8;
}

.modal-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.choice {
  text-decoration: underline;
  color: var(--accent-color);
}

.policy {
  margin-bottom: 30px;
}

.form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-policy {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-policy::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: block;
  margin-right: 8px;
}

.checkbox-policy:checked + .modal-policy::before {
  background-image: url(../image/icon/check.svg);
  border: none;
}

.checkbox-policy:focus + .modal-policy::before {
  border-color: var(--accent-color);
}

.section-client {
  padding-bottom: 60px;
  padding-top: 60px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}

.clients__item {
  flex-basis: calc((100% - 30px)/2);
  display: flex;
  width: 210px;
  height: 92px;
  background-color: #ffffff;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  border-color: 4px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px)/3);
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
  .clients__item {
    width: 270px;
  }
  .section-client {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Features-list*/
@media screen and (min-width: 480px) {
  .features-list {
    display: block;
  }
  .features-list__descr {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features-list__descr {
    flex-basis: calc((100% - 30px)/2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .features-list__descr {
    width: 270px;
  }
}

.features-list p {
  margin-top: 0;
  margin-bottom: 0;
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primare-text-color);
}

.feature-icons-list {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-icons-item {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-list {
  display: block;
  /* padding-top: 94px;
  padding-bottom: 94px; */
}

.team-list .team-list__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .team-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team-list__item {
  /* padding-top: 186px;
  padding-bottom: 94px; */
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.team-list__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-soc {
  display: flex;
  justify-content: center;
}

.member-soc__link {
  width: 44px;
  height: 44px;
  /* background-color: red; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-soc__link:hover, .member-soc__link:focus {
  background-color: var(--accent-color);
}

.member-soc__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-soc__link :hover .member-soc__icon,
.member-soc__link :focus .member-soc__icon {
  fill: #ffffff;
}

/* .member-social-icon:hover,
.member-social-icon:focus {
  fill: #ffffff; */
.member-soc__item + .member-soc__item {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team-list__item {
    flex-basis: calc((100% - 30px)/2);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .team-list__item {
    width: 270px;
  }
}

img {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
    /* margin-bottom: 94px; */
  }
  .section-work {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  .work__item {
    /* width: calc((100%-60px)/3); */
    width: 370px;
    position: relative;
  }
  .work__item:not(:last-child) {
    margin-right: 30px;
  }
  .work__item-name {
    /* position: absolute; */
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
  }
  .work__title-item-name {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    padding-top: 27px;
    padding-left: 83px;
  }
}

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
}

.footer_container {
  display: block;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* min-width: 206px;
  margin-left: 70px; */
  margin-top: 12px;
}

.logo-foot {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.auth-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-footer .auth-footer__link:hover,
.auth-footer .auth-footer__link:focus {
  color: var(--accent-color);
}

.addres {
  color: var(--primare-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  margin-bottom: 9px;
}

.auth-footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.title-footer {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.footer-list__footer-icon {
  fill: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-list__footer-item {
  width: 44px;
  height: 44px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__footer-item .footer-list__footer-link:hover,
.footer-list__footer-item .footer-list__footer-link:focus {
  background-color: var(--accent-color);
}

.footer-list__footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__footer-link:hover .footer-list__footer-icon,
.footer-list__footer-link:focus .footer-list__footer-icon {
  fill: #ffffff;
}

.footer-list {
  display: flex;
  justify-content: center;
  /* padding: 0;
  margin: 0; */
}

.footer-list .footer-list__footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-name {
  display: block;
}

.footer-networks {
  display: block;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 60px;
}

.online-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  /* padding-bottom: 15px;
  padding-top: 15px; */
  outline: none;
  border-radius: 4px;
}

.online-input:hover::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.online-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.online-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.online-btn {
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  text-align: center;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscription {
  display: block;
  margin-top: 60px;
}

.online-input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--footer-background-color);
  color: var(--primary-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.online-input:focus {
  border-color: var(--accent-color);
}

.online-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-networks {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer_container {
    display: flex;
    text-align: center;
    align-items: baseline;
  }
  .footer-name {
    display: block;
    margin-right: 70px;
    text-align: start;
    flex-grow: 1;
  }
  .footer-networks {
    display: block;
    margin-right: 93px;
    text-align: start;
  }
  .online-input {
    margin-bottom: 0;
  }
  .subscription {
    margin-top: 0;
    text-align: start;
  }
  .online-form {
    display: flex;
    flex-direction: row;
  }
  .online-btn {
    margin-left: 10px;
  }
}

.section-portfolio {
  padding-top: 60px;
  /* margin-top: 94px; */
  padding-bottom: 60px;
}

.filtrs {
  display: flex;
  gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 46px;
}

.project-list__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}

.project-list__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-decoration: none;
  margin-bottom: 4px;
}

.project-list {
  display: block;
  width: 100%;
}

.project-list__element {
  /* width: calc((100%-60px) / 3); */
  /* margin-right: 30px; */
  margin-bottom: 30px;
  width: 100%;
  cursor: pointer;
  /* background-color: chartreuse; */
}

.project-list__element .project-list__element-descr {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* .element:hover,
.element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */
.project-list__cards {
  text-decoration: none;
  display: block;
}

.project-list__cards:hover, .project-list__cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .element:nth-child(3n) {
  margin-right: 0; */
/* .element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.project-list__cards-descr {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #ffffff;
  padding: 63px 24px;
}

.project-list__text-descr {
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list__cover {
  position: relative;
  overflow: hidden;
}

.project-list__cover:hover .project-list__text-descr {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .filtrs {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 768px;
    justify-content: flex-start;
  }
  .project-list__element {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .filtrs {
    justify-content: center;
    margin-bottom: 50px;
  }
  .filtrs .filtrs__filtrs-btn:not(:last-child) {
    margin-right: 8px;
  }
  .project-list {
    width: 1200px;
    flex-wrap: wrap;
    margin: -15px;
  }
  .project-list__element {
    width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */