/*цвет основного текста #212121*/
/*цвет вторичного текста #757575*/
/*цвет текста героя #FFFFFF*/
/*акцент #2196F3*/
/*белый #FFFFFF*/
/*цвет в подвале rgba(255, 255, 255, 0.6);8/
/*background верхней линии #FFFFFF*/
/*background шапки и подвала #2F303A*/
/*background наши особенности #E5E5E5*/
/*background наша команда #F5F4FA*/

/* background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 10px; */

/* background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 10px; */
/* Hero */

/* Section */

/* Button */

/* Our team */

/* постоянные клиенты */

/* Футер */

/* Портфолио */

/* .project-list .title {
color: var(--title-text-color);
font-weight: 700;
font-size: 18px;
line-height: 2.0;
text-decoration: none;
} */
