.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
/*Features-list*/
@media screen and (min-width: 480px){
  .features-list {
      display: block;
    }  
    .features-list__descr {
      width: 100%;
      margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
  .features-list {
     display: flex;
      flex-wrap: wrap;
      gap: 30px;
      // width: 354px;
    }
    .features-list__descr{
      flex-basis: calc((100% - 30px)/2);
      margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px){
  .section-features {
      padding-top: 94px;
      padding-bottom: 24px;
    }
  .features-list {
      display: flex;
      flex-wrap: nowrap;
    }
    .features-list__descr {
    width: 270px;    
    // &:not(:last-child) {
    //  margin-right: 30px;
    // }
        
}
}
.features-list p {
  margin-top: 0;
  margin-bottom: 0;
  
}
.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primare-text-color);
}

// @media screen and (min-width: 1200px) {
//   .features-list__descr {
//     width: 270px;
//     &:not(:last-child) {
//         margin-right: 30px;
//       }
//   }

// }
.feature-icons-list {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
}


.feature-icons-item {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
