.section-title {
  @include font(36px, 700, 42px);
  color: var(--title-text-color);
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.features-list__title {
  @include font(14px, 700, 16px);
  color: var(--title-text-color);
  // font-weight: 700;
  // font-size: 14px;
  // line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
